<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>


    <!--- linkeado la hoja de estilos --->
    
    <link rel="stylesheet" href="css\styleV1.4.css">

    <!-- roboto -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- iconos -->
    <script src="https://kit.fontawesome.com/4ea68b4f8b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">

            <img src="images\logo-mercado-liebre.svg" class="logo" alt="logo">

             <div class="search-bar">
            
                <input type="text" placeholder=""></input>
            
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div> 

            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>

        <a href="" class="burger-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">

                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>

            <ul class="right-navbar">

                <li><a href="/registro">Crea tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-cart-shopping"></i></a></li>

            </ul>

        </nav>
    </header>

    <img src="images\img-home-banner.jpg" class='banner-image' alt="Home Banner">

    <main>
        <h4 class="titulares"> Basado en tu ultima visita</h4>

        <section class= 'productos'>
           
            <article class="card">
                <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <h2 class="precio">$6.770</h2>
                    <p class="descuentos">%40 OFF</p>
                </div>
                    <h4 class="d-name">Cafetera Moulinex</h4>
            </article>

            <article class="card">
                <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <h2 class="precio">$6.770</h2>
                    <p class="descuentos">%40 OFF</p>
                </div>
                    <h4 class="d-name">Cafetera Moulinex</h4>
            </article>

            <article class="card">
                <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <h2 class="precio">$6.770</h2>
                    <p class="descuentos">%40 OFF</p>
                </div>
                    <h4 class="d-name">Cafetera Moulinex</h4>
            </article>

            <article class="card">
                <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <h2 class="precio">$6.770</h2>
                    <p class="descuentos">%40 OFF</p>
                </div>
                    <h4 class="d-name">Cafetera Moulinex</h4>
            </article>

    </section>

    <h4 class="titulares">Ofertas</h4>

    <section class= 'productos'>
       
        <article class="card">
            <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <div class="description">
                <i class="fas fa-truck"></i>
                <h2 class="precio">$6.770</h2>
                <p class="descuentos">%40 OFF</p>
            </div>
                <h4 class="d-name">Cafetera Moulinex</h4>
        </article>

        <article class="card">
            <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <div class="description">
                <i class="fas fa-truck"></i>
                <h2 class="precio">$6.770</h2>
                <p class="descuentos">%40 OFF</p>
            </div>
                <h4 class="d-name">Cafetera Moulinex</h4>
        </article>

        <article class="card">
            <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <div class="description">
                <i class="fas fa-truck"></i>
                <h2 class="precio">$6.770</h2>
                <p class="descuentos">%40 OFF</p>
            </div>
                <h4 class="d-name">Cafetera Moulinex</h4>
        </article>

        <article class="card">
            <img src="images\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <div class="description">
                <i class="fas fa-truck"></i>
                <h2 class="precio">$6.770</h2>
                <p class="descuentos">%40 OFF</p>
            </div>
                <h4 class="d-name">Cafetera Moulinex</h4>
        </article>
    </main>

    <footer>

        <section class="bloque-final">
            <article class="beneficios">
                <i class="fas fa-credit-card"></i>

                <h3>Pagá con tarjeta o en efectivo</h3>

                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

            </article>

            <article class="beneficios">
                <i class="fas fa-gift"></i>

                <h3>Envio gratis desde $2.500</h3>

                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

            </article>

            <article  class="beneficios">
                <i class="fas fa-user-shield"></i>

                <h3>Seguridad, de principio a fin</h3>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

            </article>

        </section>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</html>

